@model Diagnostic_Medical_Center.Models.User
@{
    ViewBag.Title = "Signin";
}

<h2>Signin</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.UserId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserId, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Log in" class="btn btn-default" />
        </div>
    </div>

    <div style="padding: 10em">
        <p>
            Register as a New
            <a href="@Url.Action("AdminRegister", "Registration")">Admin</a> |
            <a href="@Url.Action("DoctorRegister", "Registration")">Doctor</a> |
            <a href="@Url.Action("AgentRegister", "Registration")">Agent</a> |
        </p>
    </div>
}


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}