@using System.Web.UI.WebControls
@model IEnumerable<Diagnostic_Medical_Center.Models.Agent>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAgentDetails</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@200;300;400;500;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Diagnostic Medical Center", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Logout", "Logout", "LoginManager")</li>
                    @if (ViewBag.User != null)
                    {
                        <li>Dear - @ViewBag.User</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div>
        <table class="table">
            <tbody>
                <tr>
                    <th>Agent Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.AgentId</td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@Html.ActionLink("Update Agent", "EditAgent", new { id = item.AgentId })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
