@using System.Web.UI.WebControls
@model IEnumerable<Diagnostic_Medical_Center.Models.Agent>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAgentDetails</title>
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@200;300;400;500;800&display=swap" rel="stylesheet">
</head>
<body>
    <div>
        <table class="table">
            <tbody>
                <tr>
                    <th>Agent Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Contact Number</th>
                    <th>Status</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.AgentId</td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Age</td>
                        <td>@item.Sex</td>
                        <td>@item.PhoneNo</td>
                        @if (!item.RegistrationStatus)
                        {
                            <td>Pending</td>
                        }
                        else if (item.RegistrationStatus)
                        {
                            <td>Accepted</td>
                        }
                        <td>@Html.ActionLink("Accept", "AcceptAgent", "Administration", new { @id = item.AgentId }, null)</td>
                        <td>
                            @Html.ActionLink("Reject", "RejectAgent", "Administration", new { @id = item.AgentId }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
