@model IEnumerable<Diagnostic_Medical_Center.Models.Appointment>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewTestRequests</title>
</head>
<body>
    <table class="table">
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.MedicareID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Approved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MedicareID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Approved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completed)
            </td>
            <td>
                <button class="btn btn-primary" onclick="location.href='@Url.Action("UpdateTestResults", "Administration", new { id=item.Id })'">Update test Results</button>
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
