@model Diagnostic_Medical_Center.Models.MedicareService

@{
    Layout = null;
}

    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DoctorId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DoctorId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ServiceName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ServiceName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Eligibility)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Eligibility)
            </dd>
    
        </dl>
    </div>

