@model IEnumerable<Diagnostic_Medical_Center.Models.Appointment>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewAppointments</title>
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@200;300;400;500;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap" rel="stylesheet" />
    <style>
        body {
            background-color: #ffffff;
            font-family: 'Source Sans Pro', sans-serif;
        }

        .info-panel {
            display: flex;
            align-items: stretch;
            padding: 0px;
        }

        .panel-default {
            margin: 5px;
            padding: 0px;
            box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.5);
        }

        .panel:hover {
            box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.8);
        }

        .user-id {
            flex-grow: 1;
            padding: 20px 0px 30px 20px;
        }

        .user-id h4 {
            margin: 0;
            font-weight: 700;
            font-family: "Source Sans Pro", sans-serif;
            line-height: 5px;
            color: #393939
        }

        .name, .phone {
            font-weight: 700;
            font-family: "Source Sans Pro", sans-serif;
            font-size: 20px;
            color: #393939;
            flex-grow: 2;
        }

        .gender {
            display: flex;
            align-items: center;
        }

        .gender-span {
            font-size: 20px;
            font-family: "Source Sans Pro", sans-serif;
            font-weight: 700;
        }

        .separator {
            font-size: 30px;
            font-family: "Source Sans Pro", sans-serif;
            font-weight: 300;
        }

        sup {
            font-weight: 600;
            font-family: "Source Sans Pro", sans-serif;
            color: #858585;
            font-size:12px;
        }

       
    </style>
</head>
<body>
   

        @foreach (var item in Model)
        {

            <div class="panel panel-default">
                <div class="panel-body info-panel">
                    <div class="user-id"><sup>Doctor ID</sup><h4>@item.DoctorId</h4></div>
                    <div class="user-id"><sup>Medicare ID</sup><h4>@item.MedicareID</h4></div>
                    <div class="user-id"><sup>Date of Appointment</sup> <h4>@Html.DisplayFor(modelItem => item.AppointmentDay)</h4></div>
                    @if (item.Approved == true && item.Completed == false)
                    {
                        <div style="background-color:#4cff76;">
                            <h4 style="color:#ffffff;  padding:10px; width:350px; font-weight:700;">@ViewBag.Approved</h4>
                        </div>

                    }
                    else if (item.Approved == false && item.Completed == true)
                    {
                        <div style="background-color:#ff6868;">
                            <h4 style="color:#ffffff; padding:10px; width:350px; font-weight:700;">@ViewBag.Rejected</h4>
                        </div>

                    }
                    else if (item.Approved == true && item.Completed == true)
                    {
                        <div style="background-color:#4cff76;">
                            <h4 style="color:#ffffff;  padding:10px; width:350px; font-weight:700;">@ViewBag.Done</h4>
                        </div>
                    }
                    else
                    {
                        <div style="background-color:#ffa230;">
                            <h4 style="color:#ffffff;  padding:10px; width:350px; font-weight:700;">@ViewBag.Pending</h4>
                        </div>
                    }

                </div>
            </div>

        }

</body>
</html>
