@model IEnumerable<Diagnostic_Medical_Center.Models.TestRequest>

@{
    Layout = null;
}

    <table class="table table-striped table-condensed">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Appointment.DoctorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.baseValue)
            </th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Appointment.DoctorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.result)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.baseValue)
            </td>
        </tr>
    }
    
    </table>
